.work {
	display: flex;
	flex-direction: column;
}
.post_wrapper, .post_body, .post_header {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.post_meta {
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}
.post_meta__text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}
.post_meta__item {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.post_meta__logo {
	margin:0;
	min-width: fit-content;
}
.post_body {
	gap: 24px;
}
.post_body > p,.post_body > h3, .post_body > h2, .post_body > div {
	box-sizing: border-box;
}
.post_body h3{
	width: 100%;
}
.post_body > div {
	margin: 0 auto;
	height: fit-content;
	width: fit-content;
	max-width: 1515px;
	padding: 24px;
}
.post_image {
	width: auto;
	height: auto;
	cursor: pointer;
	border: 12px solid #4D415F;
	border-radius: 30px;
	box-shadow: 0 0 50px;
}
.image_row {
	display: flex;
}
.lightbox {
	display: none;
	position: fixed;
	flex-direction: column;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #4D415F;
}
.lightbox_content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: fit-content;
	max-width: 100%;
	box-sizing: border-box;
	justify-content: center;
	overflow: auto;
}
.lightbox_image__container {
	max-height: 100%;
}
.lightbox_image {
	width: auto;
}
.lightbox_close {
	float: right;
	font-weight: bold;
	line-height: 0;	
	margin: 0 0 24px auto;
}
.lightbox_close:hover, .lightbox_close:focus {
	text-decoration: none;
	cursor: pointer;
}

/* PHONE __________________________________________________________________________________________ */
@media only screen and (max-width: 768px) {
	.work {
		gap: 72px;
		margin-bottom: 48px;
	}
	.post_wrapper {
		margin: 0 auto;
		gap: 24px;
	}
	.post_header {
		margin: 0 auto;
		gap: 24px;
	}	
	.post_title {
		width: auto;
		margin: 0 12px;
		max-width:100%;
		padding: 0;
	}
	.post_title h1 {
		font-size:48px;
		margin: 0;
	}	
	.post_meta {
		margin: 0 12px 24px;
		gap: 24px;
	}
	.post_meta__logo {
		height: 48px;
	}
	.post_meta__text {
		gap: 12px 24px;
	}
	.post_meta__item {
		gap: 6px;
	}
	.post_meta__eyebrow {
		font-size: 10px;
	}
	.post_meta__label {
		font-size: 12px;
	}
	.post_body h3, .post_body h2, .post_body p {
		margin: 0 12px;
	}
	.post_body > div {
		padding: 12px;
		overflow-x: auto;
	}
	.post_body > div {
		width: 100%;
	}
	.post_image {
		margin:0 auto;
		max-height: 400px;
		max-width: fit-content;
	}
	.image_row {
		flex-direction: column;
		gap: 24px;
	}
	.lightbox {
		justify-content: flex-end;
	}
	.lightbox_content {
		margin: 24px auto;
		padding: 48px;
		max-height: calc(100vh - 48px);
	}
	.lightbox_content h2 {
		font-size: 48px;
		margin-bottom: 8px;
	}
	.lightbox_content p {
		margin-bottom: 48px;
	}
	.lightbox_close {
		font-size: 28px;
	}
	.lightbox_image {
		max-width: auto;
	}
	.lightbox_image__container {
		width: 100%;
	}
}

/* TABLET __________________________________________________________________________________________ */
@media only screen and (min-width: 769px) {
	.work {
		gap: 96px;
		margin-bottom: 48px;
	}
	.post_wrapper {
		margin: 0 auto;
		gap: 24px;
	}
	.post_header {
		margin: 0 auto;
		gap: 24px;
	}	
	.post_title {
		width: auto;
		margin: 0 48px;
		max-width:100%;
	}
	.post_title h1{
		font-size:64px;
	}	
	.post_meta {
		margin: 0 48px 24px;
		gap: 36px;
	}
	.post_meta__logo {
		height: 48px;
	}
	.post_meta__text {
		gap: 36px;
	}
	.post_meta__item {
		gap: 10px;
	}
	.post_meta__eyebrow {
		font-size: 12px;
	}
	.post_meta__label {
		font-size: 12px;
	}
	.post_body h3, .post_body h2, .post_body p {
		margin: 0 48px;
	}
	.post_body > div {
		width: 100%;
	}
	.post_image {
		margin:0 auto;
		max-height: 600px;
		max-width: 100%;
	}
	.image_row {
		flex-direction: row;
		gap: 48px;
	}
	.lightbox {
		justify-content: flex-end;
	}
	.lightbox_content {
		margin: 0px auto;
		height: 100%;
		min-height: calc(100vh - 250px);
	}
	.lightbox_content h2 {
		margin-bottom: 8px;
	}
	.lightbox_content p {
		margin-bottom: 48px;
	}
	.lightbox_image__container {
		width: 100%;
		min-height: fit-content;
		max-height: 100%;
	}
	.lightbox_image {
		max-width: auto;
		min-height: 100%;
		padding: 0 48px;
	}
}

/* DESKTOP __________________________________________________________________________________________ */
@media only screen and (min-width: 993px) {
	.work {
		gap: 128px;
		margin-bottom: 96px;
	}
	.post_wrapper {
		margin: 0 auto;
		gap: 48px;
	}
	.post_header {
		margin: 0 auto;
		max-width: 800px;
		width: 100%;
		gap: 24px;
	}	
	.post_title {
		margin: 0 auto;
		width: 100%;
		max-width: 800px;
	}
	.post_title h1 {
		font-size:48px;
	}
	.post_meta {
		gap: 48px;
		margin: 0 auto;
		max-width: 800px;
		width: 100%;
	}
	.post_meta__logo {
		height: 48px;
	}
	.post_meta__text {
		gap: 24px;
	}
	.post_meta__item {
		gap: 12px;
	}
	.post_meta__eyebrow {
		font-size: 12px;
	}
	.post_meta__label {
		font-size: 12px;
	}
	.post_body > p, .post_body h3, .post_body h2 {
		margin: 0 auto;
		max-width: 800px;
	}
	.post_body > div {
		width: fit-content;
	}
	.post_image {
		margin:0 auto;
		max-width: 1000px;
	}
	.image_row {
		flex-direction: row;
		gap: 24px;
	}
	.lightbox {
		justify-content: center;
	}
	.lightbox_content {
		margin: 48px auto;
		padding: 48px;
		height: 100%;
		max-height: calc(100vh - 96px);
	}
	.lightbox_content h2 {
		margin-bottom: 4px;
	}
	.lightbox_content p {
		margin-bottom: 24px;
	}
	.lightbox_close {
		font-size: 36px;
	}
	.lightbox_image__container {
		min-height: fit-content;
		max-height: 100%;
	}
	.lightbox_image {
		max-width: auto;
		height: auto;
		max-height: 100%;
		padding: 0;
	}
}
