@font-face{
	font-family:'Montserrat'
}
.page_title {
	color:#7E5181;
}
.posts_list a, .nav, .nav__name, .post_wrapper{
	color:#4D415F;
}
body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family:"Montserrat";
}
.wrapper{
	margin:0;
	width: 100vw;
    	height: 100%;
    	min-height: 100vh;
    	box-sizing: border-box;
    	overflow-x: hidden;
	background-image: url(/static/images/bg.png);
	background-size:cover;
	background-attachment:fixed;
}
.nav{
	position:fixed;
	display:flex;
	box-sizing:border-box;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	margin:0;
	top:0;
	min-width:100%
}
.nav div{
	background-repeat:no-repeat
}
.nav>a{
	margin:auto auto auto 0;
	cursor:pointer
}
.nav__logo{
	margin:0;
	min-width:48px;
	height:48px;
	background-image:url(/static/images/logo.svg);
	background-size:100%;
	background-position:center
}
h1{
	font-weight:100;
	text-transform:lowercase;
}
h3 {
	text-transform: uppercase;
}
ul{
	margin:0;
	padding-left:0;
	list-style:none;
}
li{
	list-style-type:none;
}
p{
	font-size:18px;
	line-height: 32px;
	font-weight:400;
	margin:0;
}
.site_content{
	max-width:100%;
	min-height:100%;
    	box-sizing: border-box;
    	overflow-x: hidden;
	margin:0;
}
.post_wrapper {
	position: relative;
	margin:0 auto;
	max-width: 796px;
}

.page_title h1 {
	margin:0;
}

.posts_list {
	margin-top: 50px;
}
.posts_list ul {
	margin:0;
}
.posts_list li a{
	text-decoration:none;
	font-size:24px;
	font-weight:800;
}
#detail_title{
	max-width:796px;
}
/* phone */
@media only screen and (max-width: 600px) {
.nav {
	padding:20px;
}	
.site_content{
	padding:148px 20px 20px;
}
p{
	padding:0 20px;
}
h3{
	padding:0 20px;
}
div > img{
	margin:20px 0;
}
.page_title{
	margin:0 auto 20px;
}
.page_title h1{
	font-size:60px;
	padding:0 20px;
}
#index_title{
	max-width:100%;
}
}

/* tablet */
@media only screen and (max-width: 992px) {
.nav {
	padding:50px;
}
.site_content {
	padding:148px 50px 50px;
}
p{
	padding:0 50px;
}
h3{
	padding:0px;
}
div > img{
	margin:50px 0;
}
.page_title{
	margin:0 auto 50px;
}
.page_title h1{
	font-size:80px;
	padding:0 50px;
}
#index_title{
	max-width:70vw;
}
}

/* desktop */
@media only screen and (min-width: 993px) {
.nav {
	padding:50px;
}
.site_content{
	padding:148px 50px 50px;
}
p{
	padding:0 50px;
}
h3{
	padding:0 50px;
}
div > img{
	margin:50px 0;
}
.page_title{
	margin:0 auto 50px;
}
.page_title h1{
	font-size:110px;
	padding:0 50px;
}
#index_title{
	max-width:70vw;
}
