<section class="work" id="brands">
	{% for brand in brands|dictsort:'position'  %}
		<div class="post_wrapper">
			<div class="post_text">
				<div class="post_header">
					<div class="post_title">
						{% if brand.posts.all %}
							<h1 id="{{ brand.name }}"><a href="{% url 'brand_detail' brand.slug %}">{{ brand.name }}</a></h1>
						{% else %}
							<h1 id="{{ brand.name }}">{{ brand.name }}</h1>
						{% endif %}
					</div>
				</div>
				<div class="post_body">
					<p>{{ brand.body | safe }}</p>
					{% if brand.posts.all %}<a class="work_link" href="{% url 'brand_detail' brand.slug %}">Read more <img src="{% static 'images/chevron-right.svg' height="12" width="12" %}"></a>{% endif %}
				</div>
			</div>
			{% if brand.image %}<img src="{{ brand.image | safe }}" class="post_image" />{% endif %}
		</div>
{% endfor %}
</section>

