<!-- CONTACT 
<section id="contact">
	<div class="post_title">
		<h1>Get in touch</h1>
	</div>
	<p>Send me a message and I’ll respond as soon as possible!</p>
	<div id="form_success" style="display: none;"><h2>Success!</h2></div>
	<form action="https://api.web3forms.com/submit" method="POST" id="contact_form">
	    <input type="hidden" name="access_key" value="3f3a091c-6fdb-4c81-95bc-9001b3d42ab6">
	    <input type="text" placeholder="Name" name="name" required>
	    <input type="email" placeholder="Email address" name="email">
		<input type="phone" placeholder="Phone number" name="phone">
		<textarea placeholder="Message" name="message" required></textarea>
	    <!-- Honeypot Spam Protection
	    <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
	    <!-- Custom Confirmation / Success Page
	    <input type="hidden" name="redirect" value="thanks.html">
		<button type="submit" id="send_button">Send<img src="{% static 'images/chevron-right.svg' height="12" width="12" %}"></button>
	</form>		
</section>
-->