<!-- blog/templates/blog/index.html -->

{% extends "base.html" %}
{% load static %}
{% block styles %}
	<link rel="stylesheet" href="{% static "index.css" %}" />
	<link rel="stylesheet" href="{% static "work.css" %}" />
{% endblock styles %}

{% block page_content %}

<a href="/" class="logo_link">
	<div class="logo"></div>
	<div class="logo_name"><h3>Kevin Plunkett</h3></div>
</a>
<!-- NAV -->
<!-- NAV -->
<!-- NAV -->
<nav class="nav">
	<div class="nav_item" id="nav_item__work"><a href="#work">work</a></div>
	<ul class="nav_work">
		{% for post in posts|dictsortreversed:'year' %}
		<li class="nav_work__item"><a href="#{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
	<!--form action="{% url 'logout' %}" method="post">{% csrf_token %}<button type="submit">log out</button></form-->
	<div class="nav_item" id="nav_item__contact"><a href="https://www.linkedin.com/in/kevinplunkett/">contact</a></div>
</nav>

<div class="site_content">

<!-- HOME -->
<!-- HOME -->
<!-- HOME -->
<section class="home" id="home">
	<div class="page_title">
		<h1>focused on creating simple, intuitive digital experiences.</h1>
	</div>
	<div class="about">
		<p>
			Most recently at <a href="https://play.google.com/store/apps/details?hl=en_US&id=com.google.android.apps.maps" target="new">Google Maps.</a> Previously at <a href="https://www.meta.com/" target="new">Meta Reality Labs</a>, <a href="https://www.bethesda.net/" target="new">Bethesda Softworks</a>, <a href="https://www.msg.com/" target="new">Madison Square Garden</a>, <a href="https://www.livestream.com/" target="new">Livestream</a>, and <a href="https://www.dailyburn.com/" target="new">Daily Burn.</a>
		</p>
	</div>
	<a class="work_link" href="#work">see the work<img src="{% static 'images/chevron-down.svg' height="12" width="12" %}"></a>

</section>

<!-- WORK -->
<!-- WORK -->
<!-- WORK -->
	{% include "blog/work.html" %}
</div>

{% endblock page_content %}
