<!-- blog/templates/blog/index.html -->

{% extends "base.html" %}
{% load static %}
{% block styles %}
	<link rel="stylesheet" href="{% static "index.css" %}" />
	<link rel="stylesheet" href="{% static "work.css" %}" />
{% endblock styles %}

{% block page_content %}

{% include "blog/nav.html" %}

<div class="site_content">

<!-- HOME -->
<!-- HOME -->
<!-- HOME -->
<section class="home" id="home">
	<div class="page_title">
		<h1>I'm a product designer focused on creating simple, intuitive digital experiences.</h1>
	</div>
	<div class="about">
		<p>
			Most recently at <a href="https://play.google.com/store/apps/details?hl=en_US&id=com.google.android.apps.maps" target="new">Google Maps.</a> Previously at <a href="https://www.meta.com/" target="new">Meta Reality Labs</a>, <a href="https://www.bethesda.net/" target="new">Bethesda Softworks</a>, and <a href="https://www.msg.com/" target="new">Madison Square Garden</a>
		</p>
	</div>
	<a class="work_link" href="#work">see the work<img src="{% static 'images/chevron-down.svg' %}" height="12" width="12"></a>

</section>

<!-- WORK -->
<!-- WORK -->
<!-- WORK -->
	{% include "blog/brands.html" %}
</div>

{% endblock page_content %}
