<!-- blog/templates/blog/index.html -->

{% extends "base.html" %}
{% load static %}
{% block styles %}
	<link rel="stylesheet" href="{% static "work.css" %}" />
{% endblock styles %}

{% block page_content %}

<div class="posts_list">
		{% for post in posts|dictsortreversed:'year' %}
		<a href="{% url 'blog_detail' post.pk %}">
			<div class="post_item">
				<div class="post_thumbnail"><img class="post_thumbnail__image" src="{{ post.thumbnail }}" /></div>
				<div class="post_meta">
					<h2>{{ post.title }}</h2>
					<p>{{ post.company }} {{post.year }}</p>
					<p>{{ post.role }}</p>
					<p>{{ post.surface }}</p>
				</div>
			</div>
		</a>
		{% endfor %}
</div>

{% endblock page_content %}
