<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kevin Plunkett | Product Designer</title>
	{% load static %}
	<link rel='preconnect' href='https://fonts.googleapis.com' crossorigin>
	<link rel="preload"  as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap">
	<link rel="preload" href="style.css" as="style" />
	<link rel="stylesheet" href="{% static "style.css" %}" />
	{% block styles %}{% endblock %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="{% static "main.js" %}"></script>
	<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
</head>
<body>
<div class="wrapper">	
		{% block page_content %}{% endblock page_content %}
</div>
</body>
</html>
