@include 'index'
@include 'work'
@include 'menu'
@include 'modal'
@include 'form'
@include 'lightbox'
@include 'colors'
@include 'mixins'

html
  scroll-behavior: smooth

body
	padding:0
	width:100%
	height:100%
	overflow-x: hidden

section {
	display: flex
	flex-direction: column
	justify-content: center
	min-height: 100vh
	max-width: 100%
	gap: 50px

button
	padding: 10px 20px
	border-radius: 10px
	border-style: none
	transition: background-color 0.5s

.wrapper
	display: flex
	flex-direction: column
	margin:0
	width: 100vw
	height: 100%
	min-height: 100vh
	box-sizing: border-box
	background-image: linear-gradient(45deg, #E6E3E6, #B7A1B8)
	background-attachment: fixed

/* PHONE __________________________________________________________________________________________ */
@media only screen and (max-width: 768px)
	.nav
		padding:20px

	.nav_logo, .nav_logo__light
		min-width:96px
		height:96px

/* TABLET __________________________________________________________________________________________ */
@media only screen and (min-width: 769px)
	.nav
		padding:50px

	.nav_logo, .nav_logo__light
		min-width:96px
		height:96px

	button
		border-radius: 25px
		padding: 25px 50px

/* DESKTOP __________________________________________________________________________________________ */
@media only screen and (min-width: 993px)
	.nav
		padding:50px

	.nav_logo, .nav_logo__light
		min-width:48px
		height:48px
	button
		border-radius: 10px
		padding: 10px 20px